DROP TABLE IF EXISTS tests;

CREATE TABLE IF NOT EXISTS tests (
  -- uuid and description are taken from the test.toml file
  uuid TEXT PRIMARY KEY,
  description TEXT NOT NULL,
  -- The following section is needed by the online test-runner
  status TEXT DEFAULT 'fail',
  message TEXT,
  output TEXT,
  test_code TEXT,
  task_id INTEGER DEFAULT NULL,
  -- Here are columns for the actual tests
  matrix TEXT NOT NULL, -- json array of arrays
  expected TEXT NOT NULL -- json array of objects
);

INSERT INTO
  tests (uuid, description, matrix, expected)
VALUES
{%- for case in cases %}
  (
    '{{ case["uuid"] }}',
    '{{ case["description"] }}',
    '{{ case["input"]["matrix"] | tojson }}',
    '{{ case["expected"] | tojson }}'
{%- if loop.last %}
  );
{%- else %}
  ),
{%- endif %}
{%- endfor %}
