DROP TABLE IF EXISTS tests;

CREATE TABLE IF NOT EXISTS tests (
  -- uuid and name are taken from the test.toml file
  uuid TEXT PRIMARY KEY,
  name TEXT NOT NULL,
  -- The following section is needed by the online test-runner
  status TEXT DEFAULT 'fail',
  message TEXT,
  output TEXT,
  test_code TEXT,
  task_id INTEGER DEFAULT NULL,
  -- Here are columns for the actual tests
  database TEXT NOT NULL,
  payload TEXT NOT NULL,
  url TEXT INT NOT NULL,
  expected TEXT NOT NULL
);

-- Note: the strings below _may_ contain literal tab, newline, or carriage returns.
INSERT INTO
  tests (uuid, name, database, payload, url, expected)
VALUES
{%- for case in cases %}
  (
    '{{ case["uuid"] }}',
    '{{ case["description"] }}',
    '{{ case["input"]["database"] | tojson }}',
    '{{ case["input"].get("payload", {}) | tojson }}',
    '{{ case["input"]["url"] }}',
    '{{ case["expected"] | tojson }}'
{%- if loop.last %}
  );
{%- else %}
  ),
{%- endif %}
{%- endfor %}
