DROP TABLE IF EXISTS tests;

CREATE TABLE IF NOT EXISTS tests (
  -- uuid and description are taken from the test.toml file
  uuid TEXT PRIMARY KEY,
  description TEXT NOT NULL,
  -- The following section is needed by the online test-runner
  status TEXT DEFAULT 'fail',
  message TEXT,
  output TEXT,
  test_code TEXT,
  task_id INTEGER DEFAULT NULL,
  -- Here are columns for the actual tests
  input TEXT NOT NULL,
  slice_length INTEGER NOT NULL,
  expected_result TEXT,
  expected_error TEXT
);

INSERT INTO
  tests (
    uuid,
    description,
    input,
    slice_length,
    expected_result,
    expected_error
  )
VALUES
{%- for case in cases %}
  (
    '{{ case["uuid"] }}',
    '{{ case["description"] }}',
    '{{ case["input"]["series"] }}',
    {{ case["input"]["sliceLength"] }},
{%- if not case["expect_error"] %}
    '{{ case["expected"] | join("\n") }}',
{%- else %}
    NULL,
{%- endif %}
    {{ case.get("expect_error_msg") | quote }}
{%- if loop.last %}
  );
{%- else %}
  ),
{%- endif %}
{%- endfor %}

UPDATE tests
SET
  expected_result = REPLACE(expected_result, '\n', CHAR(10));
