DROP TABLE IF EXISTS tests;

CREATE TABLE IF NOT EXISTS tests (
  -- uuid and description are taken from the test.toml file
  uuid TEXT PRIMARY KEY,
  description TEXT NOT NULL,
  -- The following section is needed by the online test-runner
  status TEXT DEFAULT 'fail',
  message TEXT,
  output TEXT,
  test_code TEXT,
  task_id INTEGER DEFAULT NULL,
  -- Here are columns for the actual tests
  planet TEXT NOT NULL,
  seconds INTEGER NOT NULL,
  expected REAL
);

INSERT INTO
  tests (uuid, description, planet, seconds, expected)
VALUES
{%- for case in cases %}
  (
    '{{ case["uuid"] }}',
    '{{ case["description"] }}',
    '{{ case["input"]["planet"] }}',
    {{ case["input"]["seconds"] }},
    {{ case["expected"] }}
{%- if loop.last %}
  );
{%- else %}
  ),
{%- endif %}
{%- endfor %}
