name: sqlite / Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install project dependencies
        run: sudo apt-get update && sudo apt-get -y install jq sqlite3 coreutils

      - name: Verify all exercises
        run: bin/verify-exercises
